<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66408357282-dikt631nu30j190l2rgc2ddjk3c75mc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66408357282-dikt631nu30j190l2rgc2ddjk3c75mc7</string>
	<key>API_KEY</key>
	<string>AIzaSyDJTjkSzvuUB2-EoZQ0w4NW20OlVMY1DYo</string>
	<key>GCM_SENDER_ID</key>
	<string>66408357282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>we.go.application.com.wego</string>
	<key>PROJECT_ID</key>
	<string>wego-9c8d4</string>
	<key>STORAGE_BUCKET</key>
	<string>wego-9c8d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66408357282:ios:0ee84a08f71fb0a3d826fb</string>
</dict>
</plist>